<div class="container">

	  <h1 class="title text-center">FLIGHT MANAGEMENT SYSTEM</h1>
  
  
  
	<div class="row">
	 
		  <div class="column">
		<div class="card">
		  <div class="content">
			<div class="front">
			  <img class="profile" width="100%" src="https://i.hizliresim.com/k3cm56q.jpg?raw=true" alt="Flights">
			  <h2>Flights</h2>
			</div>
			<a href="/flights">
				<div class="back from-left">
					<h2>Flights</h2>
					<h3>37</h3>
					<h3>KAS | TUR</h3>
					<img class="tem-img" src="https://i.hizliresim.com/4g1nagz.jpg?raw=true" alt=""> &nbsp;
					<img class="tem-img" src="https://i.hizliresim.com/oy6i52p.jpg?raw=true" alt="">  <br>
					<p class="des">
					  As a Saat Airlines employee, you can access the flight management system by clicking the buttons below. You can add, update and delete flights through the system.
					</p>
					<ul class="social-icon">
					  <li><a href="../flights/"><i class="fas fa-plus-circle"></i></a></li>
								<li><a href="../flights/"><i class="fas fa-edit"></i></a></li>
								<li><a href="../flights/"><i class="fas fa-trash-alt"></i></a></li>
					</ul>
				  </div>
			</a>
		  </div>
		</div>
	  </div>
  
  
	  <div class="column">
		<div class="card">
		  <div class="content">
			<div class="front">
			  <img class="profile" width="100%" src="https://i.hizliresim.com/gg1ni6s.jpg?raw=true" alt="Route">
			  <h2>Routes</h2>
			</div>
			<a href="/routes">
				<div class="back from-bottom">
					<h2>Routes</h2>
					<h3>37</h3>
					<h3>KAS | TUR</h3>
					<img class="tem-img" src="https://i.hizliresim.com/4g1nagz.jpg?raw=true" alt=""> &nbsp;
					<img class="tem-img" src="https://i.hizliresim.com/oy6i52p.jpg?raw=true" alt="">  <br>
					<p class="des">
					  As a Saat Airlines employee, you can access the route management system by clicking the buttons below. You can add, update and delete flights through the system.
					</p>
					<ul class="social-icon">
					  <li><a href="../routes/"><i class="fas fa-plus-circle"></i></a></li>
								<li><a href="../routes/"><i class="fas fa-edit"></i></a></li>
								<li><a href="../routes/"><i class="fas fa-trash-alt"></i></a></li>
					</ul>
				  </div>
			</a>
		  </div>
		</div>
	  </div>
  
	  
		  <div class="column">
		<div class="card">
		  <div class="content">
			<div class="front">
			  <img class="profile" width="100%" src="https://i.hizliresim.com/sfvrscd.jpg?raw=true" alt="Airport">
			  <h2>Airports</h2>
			</div>
			
			<a href="/airports">
				<div class="back from-right">
					<h2>Airports</h2>
					<h3>37</h3>
					<h3>KAS | TUR</h3>
					<img class="tem-img" src="https://i.hizliresim.com/4g1nagz.jpg?raw=true" alt=""> &nbsp;
					<img class="tem-img" src="https://i.hizliresim.com/oy6i52p.jpg?raw=true" alt="">  <br>
					<p class="des">
					  As a Saat Airlines employee, you can access the airport management system by clicking the buttons below. You can add, update and delete flights through the system.
					</p>
					<ul class="social-icon">
					  <li><a href="../airports/"><i class="fas fa-plus-circle"></i></a></li>
								<li><a href="../airports/"><i class="fas fa-edit"></i></a></li>
								<li><a href="../airports/"><i class="fas fa-trash-alt"></i></a></li>
					</ul>
				  </div>
			</a>

		  </div>
		</div>
	  </div>
  
	</div>
  </div>
  <br>
  <section class="text-center">
	<a href="mailto:enes.yksel7@gmail.com">Contact</a>
  </section>